<!-- hair/qwer.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nice Haircut!</h1>
    <div>
        <img src="https://mblogthumb-phinf.pstatic.net/MjAyMjA5MDlfMTAg/MDAxNjYyNjg5MTY4Nzc5.NLLfBwVl2AiYgUpUPjxVDxo_Cvt5BfJ5qk08xix3j4og.l4lCWncZGnuuowbYFzL7dkMeBeAicLxyqepXkBn_mScg.JPEG.kjhgfdsa84/%ED%81%AC%EB%A3%A8%EC%BB%B7.jpg?type=w800" alt="hair_cut">
    </div>
</body>
</html>